{% extends "base.html" %} {% block title %}Add New Pet{% endblock %} {% block
content %}
<div class="container">
  <h1>Add New Pet</h1>
  <form method="POST">
    {{ form.hidden_tag() }} {% for field in form %} {% if
    field.widget.input_type != 'hidden' %}
    <div class="form-group">
      {{ field.label }} {{ field(class_='form-control') }} {% if field.errors %}
      {% for err in field.errors %}
      <small class="form-text text-danger">{{ err }}</small>
      {% endfor %} {% endif %}
    </div>
    {% endif %} {% endfor %}
    <button class="btn btn-success">Submit</button>
  </form>
</div>

{% endblock %}
